---
import Menu from "./Menu.astro";
---
<section class=" w-full h-[900px] bg-gradient-to-r from-white to-indigo-600">
    <Menu />
    <div class=" container mx-auto px-4 md:px-6">
        <div class="grid gap-6 grid-cols-1 md:grid-cols-2">
            <div class="flex flex-col mt-52 justify-center space-y-4 text-gray-700">
                <div class="space-y-2">
                    <h1 class="font-rubik font-bold text-3xl tracking-tighter sm:text-5xl xl:text-6xl/none">
                        PIONEERING IN IT EDUCATION SINCE 1974
                    </h1>
                    <p class="max-w-[600px] text-gray-600 md:text-xl">
                        Data Center College of the Philippines Baguio City - a haven for knowledge-seekers nestled in the chilly mountains of Baguio City!
                    </p>
                </div>
                <div class="flex flex-col gap-2 min-[400px]:flex-row">
                    <a href="#courses" class="inline-flex items-center justify-center rounded-md text-sm font-medium bg-white text-blue-600 hover:bg-gray-100 h-10 px-4 py-2">
                        Explore Programs
                    </a>
                    <a href="#contact" class="inline-flex items-center justify-center rounded-md text-sm font-medium border border-white text-white hover:bg-white/10 h-10 px-4 py-2">
                        Contact Us
                    </a>
                </div>
            </div>
            <img
                alt="DCCP Baguio Campus"
                class="mx-auto mt-4 overflow-hidden rounded-2xl"

                src="https://placehold.co/800x800"

            />
        </div>
    </div>
</section>
